extends layout
block content
    .main.container.clearfix
        .row
            .col-md-8.col-md-offset-2
                h1.display-4
                    img.avatar.src= '#{user.avatar}', alt='avatar')
                    | #{name}
                h2.favorite-Book Favorite Skater
                | #{favorite}
                h2.favorite-Book Favorite Location
                | #{location}
